[submodule "Register"]
	path = Register
	url = https://github.com/swcompetition/Register
[submodule "ALU"]
	path = ALU
	url = https://github.com/swcompetition/ALU
[submodule "Data_Memory"]
	path = Data_Memory
	url = https://github.com/swcompetition/Data_Memory
[submodule "Insturction_Memory"]
	path = Insturction_Memory
	url = https://github.com/swcompetition/Insturction_Memory
